*{

box-sizing:border-box;

font-family:"Segoe UI",Arial,sans-serif;

}



body{

margin:0;

min-height:100vh;

background:#050505;

color:white;

overflow:hidden;

}





body::before{

content:"";

position:fixed;

top:0;

right:0;


width:45%;

height:60%;



background-image:


linear-gradient(
90deg,
#050505,
rgba(5,5,5,.65),
transparent
),


linear-gradient(
180deg,
transparent,
#050505
),


url("images/violina-pozadina.jpg");



background-size:cover;

background-position:center;


opacity:.30;

z-index:0;

}





body::after{

content:"";

position:fixed;

width:450px;

height:450px;

right:-150px;

top:-150px;


background:#d4af37;

opacity:.08;

filter:blur(130px);

z-index:0;

}







/* GLAZBENI SIMBOLI */


.music-decoration{

position:fixed;

color:#d4af37;

opacity:.06;

font-size:170px;

pointer-events:none;

z-index:1;

}



.note-one{

top:40px;

right:100px;

}



.note-two{

bottom:30px;

left:40px;

font-size:210px;

}



.note-three{

top:45%;

right:40px;

}







.app{

position:relative;

z-index:2;

min-height:100vh;

}







/* HEADER */


.top-bar{

padding:25px 60px;

}



.logo{

text-decoration:none;

}



.logo h1{

margin:0;

font-family:Georgia,serif;

font-size:32px;

color:#d4af37;

}



.logo p{

margin:5px 0 0;

color:#cbd5e1;

font-size:13px;

}








/* LOGIN */


main{

display:flex;

justify-content:center;

align-items:center;

min-height:75vh;

padding:20px;

}





.login-box{


width:420px;


background:rgba(0,0,0,.70);


border:1px solid #d4af37;


border-radius:25px;


padding:40px;


backdrop-filter:blur(12px);


box-shadow:

0 20px 50px rgba(0,0,0,.5);



}





.login-box h1{


text-align:center;


font-family:Georgia,serif;


color:#d4af37;


margin:0 0 10px;


}





.subtitle{


text-align:center;

color:#cbd5e1;

margin-bottom:30px;

}





label{


display:block;


margin:15px 0 8px;


color:#e5e7eb;


}





.login-input{


width:100%;


background:#090909;


border:1px solid rgba(212,175,55,.5);


border-radius:12px;


padding:14px;


color:white;


font-size:15px;


outline:none;


}





.login-input:focus{


border-color:#facc15;


box-shadow:

0 0 15px rgba(212,175,55,.25);


}






.login-btn{


width:100%;


margin-top:30px;


padding:14px;


border:0;


border-radius:14px;


background:#d4af37;


color:#050505;


font-weight:700;


font-size:16px;


cursor:pointer;


transition:.3s;


}



.login-btn:hover{


background:#facc15;


transform:translateY(-3px);


}






#message{


text-align:center;


margin-top:20px;


color:#d4af37;


min-height:20px;


}





@media(max-width:700px){


.top-bar{


padding:20px;


}



.logo h1{


font-size:25px;


}



.login-box{


padding:25px;


}



.music-decoration{


display:none;


}


}

